@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

:root {
    --cor-primaria: #E3ABB2;
    --cor-secundaria: #DE6474;
    --cor3-alternativa: #AB4D59;
    --cor4-2alternativa: #5E2A31;
    --cor5-3alternativa: #5E474A;
    

    
    
    
    
    
}