@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    
    
}

:root {
    --cor-primaria: #E3ABB2;
    --cor-secundaria: #DE6474;
    --cor3-alternativa: #AB4D59;
    --cor4-2alternativa: #5E2A31;
    --cor5-3alternativa: #5E474A;
}

.clear {
    float: none;
}



.cabecalho {
        
    width: 100%;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    animation: cabecalho 2s infinite;
    
    }

    @keyframes cabecalho {

        0% {
            background-color: var(--cor4-2alternativa);
        }

        50% {
            background-color: var(--cor3-alternativa);
        }

        100% {
            background-color: var(--cor4-2alternativa);
        }
        
    }

.txt-animation {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 0.6em;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bolder;
    animation: txt 2s steps(60, end) infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}    

@keyframes txt {

  0% {
    margin-top: 0px;
    
    
  }

  50% {
    margin-top: 12px;
    
    
  }

  100% {
    margin-top: 0px;
    
       
}

}

.menu {
    text-align: center;
    font-size: 24px;
    
    
}

#home, #contatos, #procedimentos {
    
    padding: 5px;
    font-size: 35px;
    
    

}

.material-symbols-outlined {
    position: relative;
    display: inline-block;
    margin: 75px 140px;
    width: 50px;
    height: 50px;
    background-color: var(--cor-primaria);
    color: var(--cor4-2alternativa);
    border-radius: 20%; 
    font-style: normal;
    font-size: 26px;
    box-shadow: 3px 4px 10px rgba(189, 120, 184, 0.692);
    cursor: pointer;
    
    
}

.material-symbols-outlined:hover {
    background-color: var(--cor3-alternativa);
    color: white;
}

.img-topo img {
    position: relative;
    width: 30%;
    
    margin: 5% 5%;
    display: block;
}

.descricao-foto {
    position: relative;
    width: 50%;
    margin: -33% 43%;
    
    /* background-color: rgba(170, 100, 170, 0.582); */
    
    
    
}

.descricao-foto p {
        
    color: rgb(12, 12, 12);
    font-weight: bolder;
    margin: 0px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    font-size: 1.3em;
    position: relative;
    
    
}

.logo-wpp img {
    width: 100px;
    position: fixed;
    float: right;
    bottom: 0;
    margin: 50px;
}

.logo-wpp img:hover {
   box-shadow: 1px 1px 35px 5px rgba(227, 59, 227, 0.675);
   border-radius: 50%;
}



.contato > img {
    width: 200px;
}

.contato {
    text-align: center;
    margin-top: 680px;
    position: relative;
    display: block;
    
}

.mobile img {
    float: left;
    margin: 100px 150px;
    transition: transform 0.5s ease-in-out;
    
}

.mobile img:hover {
    transform: translateY(-25px);
}

.redes-sociais img {
    width: 5%;
    margin-left:7%;
    margin-top: 8%;
    border-radius: 50%;
    display: inline-block;
    
    
}

.redes-sociais img:hover {
    box-shadow: 1px 1px 20px 20px pink;
    transform: scale(1.1);
    

    
}

article {
    position: absolute;
    width: 50%;
    
    background-color: pink;
    margin-left: 45%;
    margin-top: 5%;
    padding: 30px;
    border-radius: 25px ;

}

article p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    line-height: 25px;
    font-weight: normal;
    
}

article .nome-assinatura {
    font-family: 'Dancing Script', cursive;
    font-size: 1.6em;

}

#txt-estecitista {
    font-size: 0.9em;
}


